<div class="container" role="form">
  <div class="row mt">
    <div class="col-xs-12">
      <h1 class="medium-title">Réinitialisation du mot de passe</h1>
      <p>Merci de rentrer votre adresse mail afin que nous puissons vous envoyer un lien de réinitialisation</p>
      <p ng-show="rpc.error">{{ rpc.error }}</p>
      <p ng-show="rpc.success">{{ rpc.success }}</p>
    </div>
  </div>
  <br/>

  <form name="resetForm" class="row">
     
    <div class="form-group col-xs-12">
      <label> Email:</label>
      <input class="form-control" type="text" ng-model="rpc.credentials.email" placeholder="Email" aria-label="email" required/>
    </div>

    <div class="row">
      <div class="text-center">
         <button class="btn btn-primary col-xs-8 col-xs-offset-2" ng-click="rpc.reset()" aria-label="reset" ng-show="rpc.credentials.email">Réinitialiser</button>
      </div>
   </div>
 </form>
</div>
