<div class="dashboard-bg">
     <div class="pic-wrapper" >
        <img class="gt-UserPicture pic"/>
     </div>
   <div class="summary">
      <h2><a href="#">{{$root.currentUser.profile.firstName}} {{$root.currentUser.profile.lastName}}</a></h2>
      <h2>{{$root.currentUser.username}}</h2>
      <div class="profile-meta">
         <span>Level: 96,  </span>
         <span>Classe: Développeur,  </span>
         <span>Gold: 96</span>
      </div>
      <div class="progress next-lvl">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
          Lvl 96: 90% complété !
        </div>
      </div>
   </div>
</div>

<div ng-show="tarace">Nom</div>
<input ng-model="tarace" placeholder="nom"/>
