<div class="col-xs-12">
      <div>
         <input type="search" ng-model="search" placeholder="Search">
         <select ng-model="orderProperty">
            <option value="1">Ascending</option>
            <option value="-1">Descending</option>
         </select>
      </div>
      <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
         <div ng-repeat='image in images' class="col-xs-6 col-sm-3">
            <img ng-src='http://placehold.it/150x150&text={{image.index}}'>
         </div>
      </div>
</div>
